<!-- Header and Stapline -->
<div class="row banner">
    <div class="col-12">
        <h1>About me
            <small>Your Strapline</small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-8" [innerHTML]="pageContent.content"></div>
</div>
<!-- INFO from Database -->
<div class="container">
    <div *ngFor="let user of users">
      <p>Name: {{ user.name }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Contact Info: {{ user.contactInfo }}</p>
      <hr>
    </div>
</div>